<!-- table ssdp_devices search -->
<p>
    <a href="?view_mode=edit_ssdp_devices" class="btn btn-default">
        <#LANG_ADD#>
    </a>
</p>
<table width=100% border=0>
    <tr>
        <td valign=top>
            <!-- results -->
            [#if RESULT#]
            <!-- paging -->
            [#if PAGES#]
            <table border=0>
                <td align=right>
                    <b>Pages:</b>&nbsp;</td>
                [#begin PREVPAGE#]
                <td>
                    <a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a>
                </td>[#end PREVPAGE#]
                <td>
                    [#begin PAGES#] [#if !SELECTED#]
                    <a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]
                        <b>[#endif#][#NUM#]</b>
                    </a> [#end PAGES#]
                </td>
                [#begin NEXTPAGE#]
                <td>
                    <a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a>
                </td>[#end NEXTPAGE#]
            </table>
            [#endif PAGES#]
            <!-- / paging -->
            <!-- search results (list) -->
            <form action="?" method="post" name="frmList_ssdp_devices" style="padding:0px" class="form">
                <table align=center class="table table-striped">
                    <tr>
                        <th> <#LANG_TITLE#></th>
                        <th>UUID</th>
                        <th>Location</th>
                        <th><#LANG_TYPE#></th>
                        <th>Services</th>
                        <th>Actions</th>
                    </tr>
                    <tbody>
                        [#begin RESULT#]
                        <tr style="height:52px" class="hover_btn2">
                            <td style="vertical-align:middle">
                                <b>[#TITLE#]</a></b>
                            </td>
                            <td style="vertical-align:middle">
                                [#if UUID!=""#] [#UUID#] [#else#] &nbsp; [#endif#]
                            </td>
                            <td style="vertical-align:middle">
                                [#if LOCATION!=""#] [#LOCATION#] [#else#] &nbsp; [#endif#]
                            </td>
                            <td style="vertical-align:middle">
                                [#if TYPE!=""#] [#TYPE#] [#else#] &nbsp; [#endif#]
                            </td>
                            <td style="vertical-align:middle">
                                    [#if SERVICES!=""#] [#SERVICES#] [#else#] &nbsp; [#endif#]
                                </td>
                            <td style="vertical-align:middle" width="1%" nowrap>
                                <div style="width:160px">

                                    <div class="btn-group">
					<a href="?view_mode=add_to_SSDPdevices&id=[#ID#]" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-danger" title="Добавить к простым устройствам">
                                            <i class="lyphicon glyphicon-plus"></i>
                                        </a>
                                        <a href="?view_mode=edit_ssdp_devices&id=[#ID#]" class="btn btn-info" title="Edit">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a>
                                        <a href="?view_mode=delete_ssdp_devices&id=[#ID#]" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-danger"
                                            title="Delete">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        [#end RESULT#]
                    </tbody>
                </table>
                <input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
                <input type="hidden" name="view_mode" value="multiple_ssdp_devices">
            </form>
            <!-- / search results (list) -->
            <!-- paging -->
            [#if PAGES#]
            <table border=0>
                <td align=right>
                    <b>Pages:</b>&nbsp;</td>
                [#begin PREVPAGE#]
                <td>
                    <a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a>
                </td>[#end PREVPAGE#]
                <td>
                    [#begin PAGES#] [#if !SELECTED#]
                    <a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]
                        <b>[#endif#][#NUM#]</b>
                    </a> [#end PAGES#]
                </td>
                [#begin NEXTPAGE#]
                <td>
                    <a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a>
                </td>[#end NEXTPAGE#]
            </table>
            [#endif PAGES#]
            <!-- / paging -->
            [#else RESULT#]
            <p>
                <font color="red">
                    <#LANG_NO_RECORDS_FOUND#>
                </font>
            </p>
            [#endif RESULT#]
            <!-- / results -->
        </td>
    </tr>
</table>