<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	<style>
		.string
		{
			float:left;
			width:400px;
	}
	   .container
	   {
			float:left;
			width:200px;
	   }
	   
	   .clear
	   {
			clear:both;
			margin-top:15px;
	   }

	   input[type="text"]
	   {
			width:180px;
	   }
	   
	   input[type="nameoffiles"]
	   {
			width:177px;
	   }
	   
	   select
	   {
			width:184px;
	   }
	</style>
</head>
<body>
<div name="%.object_title%" style="width:344px; text-align:center; align:center; font-family: monospace; border: 3px solid #4682B4; border-radius: 10px;">
<!--- название обьекта --->
 <p><img src="%.Logo%" alt="Логотип устройства" style="width:36px; "></img>
    <button style='display:%.alive|"none;block;none;"%;float:right;font-size: 50%; font-family: monospace;'><span class="glyphicon glyphicon-ok"></span></span></button>
    <button style='display:%.alive|"block;none;block;"%;float:right;font-size: 50%; font-family: monospace;'><span class="glyphicon glyphicon-remove"></span></button>
    %.object_description%
 </p>

<div name="selectDataType" style="float:left;">
<select size="1" name="selectType" onClick='document.getElementById("selectedname").value=" "' onChange="selectServers();selectNames(); selectUrl();" style="width:160px;">
<option disabled selected value="">Выберите тип файла</option>
<option value="Видео">Видео</option>
<option value="Аудио">Аудио</option>
<option value="Изображения">Изображения</option>
</select>
</div> 
 
<div name="selectDataServer" style="float:left;">
 <select disabled="disabled" size="1" name="selectServer" onChange="selectNames(); selectUrl();" style="width:160px; text-align:center; font-family: monospace; ">
<option disabled selected value="">Имя сервера</option>
</select>
</div> 
 
 <div style="  height:1px; clear:both;"></div> <!---чтобы ничего не влезало снизу-->

 <!--- поле ссылки для Названия файла -->
<div name="selectDataName" style="float:left;">
 <input size="14"  id="selectedname" name="selectName" type="nameoffiles" list="names" onClick ='selectNames();' onInput='selectUrl();' placeholder=" - Выберите файл - " style="width:160px; text-align:center; font-family: monospace; " />
</div> 

 <!--- поле ссылки для воспроизведения --->
<div name="selectDataUrl" style="float:left;">
<input size="14" name="selectUrl" type="text" id="play_url" value="" style="width:160px; text-align:center; font-family: monospace; "/>
</div>
 
 <div name="buttons" style="width:310px; height: 45px; ">
<!--- регулировка звука --->
 <input type="range" onChange='ajaxSetGlobal("%.object_title%.volume", value);' value=%.volume%  min="0" max="100" step="5" style="width:100%; height: 15px; display: inline-block;" ></input>  
<!--- кнопка воспроизведения урла --->
 <button style='float:left;width:80px;height: 34px;' onClick='ajaxSetGlobal("%.object_title%.playUrl", document.getElementById("play_url").value);' class="btn btn-custom"><span value="" title="Play" id="play" class="glyphicon glyphicon-play aligned">PlayUrl</span></button> 
  <!--- остальные кнопки--->
 <button style='display:%.pause_unpause|"block;none"%; float:left; width:46px;height: 34px;' onClick='ajaxSetGlobal("%.object_title%.pause_unpause", 1);' class="btn btn-custom"><span title="Pause" id="pause" class="glyphicon glyphicon-pause aligned"></span></button>
 <button style='display:%.pause_unpause|"none;block"%; float:left;width:46px;height: 34px;' onClick='ajaxSetGlobal("%.object_title%.pause_unpause", 0);' class="btn btn-custom"><span title="UnPause" id="Unpause" class="glyphicon glyphicon-play aligned"></span></button>
 <button style='float:left;width:46px;height: 34px;' onclick='ajaxSetGlobal("%.object_title%.stop", 1);' class="btn btn-custom"><span title="Stop" id="stop" class="glyphicon glyphicon-stop aligned"></span></button> 
 <button style='display:%.mute_unmute|"block;none"%; float:left;width:46px;height: 34px;' onclick='ajaxSetGlobal("%.object_title%.mute_unmute", 1);' class="btn btn-custom"><span title="Mute" id="Mute" class="glyphicon glyphicon-volume-off aligned"></span></button> 
 <button style='display:%.mute_unmute|"none;block"%; float:left;width:46px;height: 34px;' onclick='ajaxSetGlobal("%.object_title%.mute_unmute", 0);' class="btn btn-custom"><span title="UnMute" id="UnMute" class="glyphicon glyphicon-volume-up aligned"></span></button>
 <button style='float:left;width:46px;height: 34px;' onclick='ajaxSetGlobal("%.object_title%.previous", 1)' class="btn btn-custom"><span title="previous" id="previous" class="glyphicon glyphicon-chevron-left aligned"></span></button> 
 <button style='float:left;width:46px;height: 34px;' onclick='ajaxSetGlobal("%.object_title%.next", 1)' class="btn btn-custom"><span title="next" id="next" class="glyphicon glyphicon-chevron-right aligned"></span></button> 
 <!-- пока нереализовано
 <button style='float:left;width:46px;height: 34px;' onclick="Backward5('music.mp3','audio');" class="btn btn-custom"><span title="-5 seconds" id="-5second" class="glyphicon glyphicon-fast-backward aligned"></span></button> 
 <button style='float:left;width:46px;height: 34px;' onclick="Forward5('music.mp3','audio');" class="btn btn-custom"><span title="+5 seconds" id="+5second" class="glyphicon glyphicon-fast-forward aligned"></span></button> 
 -->
 </div>
</div> 


<!--- скрипт формирования выпадающего списка --->         
<script type = "text/javascript">
 
 function selectServers(){
   var types = $('select[name="selectType"]').val();
    $.ajax({
            type: "POST",
            url: "/modules/devices/SMedaiserver_urllist.php",
            data: {action: 'SERVERS', types: types },
            cache: false,
            success: function(responce){ $('div[name="selectDataServer"]').html(responce); }
            });
 };
 function selectNames(){
   var servers = $('select[name="selectServer"]').val();
   var types = $('select[name="selectType"]').val();
    $.ajax({
            type: "POST",
            url: "/modules/devices/SMedaiserver_urllist.php",
            data: {action: 'NAMES', servers: servers, types: types},
            cache: false,
            success: function(responce){ $('input[name="selectName"]').html(responce); }
            });
 };
 
  function selectUrl(){
    var name = $('input[name="selectName"]').val();
    $.ajax({
            type: "POST",
            url: "/modules/devices/SMedaiserver_urllist.php",
            data: {action: 'URL', name: name},
            cache: false,
            success: function(responce){ $('div[name="selectDataUrl"]').html(responce); }
            });
 };
 </script>

 </body>
</html>
