<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
  </head>
<body>
 <div name="%.object_title%main" style="width:344px; text-align:center; align:center; font-family: monospace; border: 3px solid #4682B4; border-radius: 10px;">
  <div class="device-details" style="font-size: 150%; text-align:center; font-family: monospace; ">
    <img src="%.Logo%" alt="Логотип устройства" style="float:center; width:36px; ">
    <button style='display:%.alive|"none;block;none;"%;float:right;font-size: 50%; font-family: monospace;'><span class="glyphicon glyphicon-ok"></span></span></button>
    <button style='display:%.alive|"block;none;block;"%;float:right;font-size: 50%; font-family: monospace;'><span class="glyphicon glyphicon-remove"></span></button>
    </img>
  </div>
  <div class="group"> 
   <button onClick='callMethod("%.object_title%.getFileList"); return %.object_title%();' class="btn btn-custom">
    <span title="Get filelist" id="Get filelist" class="glyphicon glyphicon-list-alt aligned"> Получить список файлов</span>
   </button> 
  </div>
   <div id="%.object_title%" style="display: none;">%.havedfiles% - файлов обработано.</div>
</div>
<!--- скрипт формирования отчета --->         
<script type = "text/javascript">

function %.object_title%(){
  document.getElementById("%.object_title%").style.display = "block";
  setTimeout(function(){$('#%.object_title%').fadeOut()}, 3000);
};

</script>

 </body>
</html>
