[#if VIEW_MODE="scan_ssdp_devices" || VIEW_MODE=""#]
<!-- table ssdp_devices search -->
<p>
    <a href="?view_mode=scan_ssdp_devices" class="btn btn-default" title="Refresh">
        <i class="glyphicon glyphicon-refresh"></i> Refresh</a>

</p>
<table width=100% border=0>
    <tr>
        <td valign=top>
            <!-- results -->
            [#if RESULT#]
            <!-- paging -->
            [#if PAGES#]
            <table border=0>
                <td align=right>
                    <b>Pages:</b>&nbsp;</td>
                [#begin PREVPAGE#]
                <td>
                    <a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a>
                </td>[#end PREVPAGE#]
                <td>
                    [#begin PAGES#] [#if !SELECTED#]
                    <a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]
                        <b>[#endif#][#NUM#]</b>
                    </a> [#end PAGES#]
                </td>
                [#begin NEXTPAGE#]
                <td>
                    <a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a>
                </td>[#end NEXTPAGE#]
            </table>
            [#endif PAGES#]
            <!-- / paging -->
            <!-- search results (list) -->
            <form action="?" method="post" name="frmList_ssdp_devices" style="padding:0px" class="form">
                <table align=center class="table table-striped">
                    <tr>
                        <th></th>
                        <th>
                            <#LANG_TITLE#>
                        </th>
                        <th>Description</th>
                        <th data-field="TYPE" data-sortable="true">
                            <#LANG_TYPE#>
                        </th>
                        <th>Services</th>
                        <th>Actions</th>
                    </tr>
                    <tbody>
                        [#begin RESULT#]
                        <tr style="height:52px" class="hover_btn2">
                            <td style="vertical-align:middle">
                                [#if LOGO!=""#]
                                <img src=" [#LOGO#]" alt="Device Logo" width="48" height="48"> [#else#] &nbsp; [#endif#]
                            </td>
                            <td style="vertical-align:middle">
                                <div>
                                    [#if ADDRESS!=""#]
                                    <h5 class="list-group-item-heading">
                                        <strong>
                                            <a href="[#ADDRESS#]">[#TITLE#]</a>
                                        </strong>
                                    </h5>
                                    <p style="font-size:10px" class="list-group-item-text small">[#if MANUFACTURER!=""#] [#MANUFACTURER#] [#else#] &nbsp; [#endif#]</p>
                                    <span style="clear: both;"></span>
                                    [#else#]
                                    <h4 class="list-group-item-heading">
                                        <strong>[#TITLE#]</strong>
                                    </h4>
                                    <p style="font-size:10px" class="list-group-item-text small">[#if MANUFACTURER!=""#]
                                        <a href="[#MANUFACTURERURL#]">[#MANUFACTURER#]</a> [#else#] &nbsp; [#endif#]</p>
                                    <span style="clear: both;"></span>
                                    </ul>
                                    [#endif#]
                                </div>
                            </td>
                            <td style="vertical-align:middle">
                                [#if DESCRIPTION!=""#] [#DESCRIPTION#] [#else#] &nbsp; [#endif#]
                            </td>
                            <td style="vertical-align:middle">
                                [#if TYPE!=""#]
                                <a href="[#IP#]">[#TYPE#]</a> [#else#] &nbsp; [#endif#]
                                <p style="font-size:10px" class="list-group-item-text small">Model:[#if MODEL!=""#] [#MODEL#] [#else#] &nbsp; [#endif#]</p>
                                <span style="clear: both;"></span>
                            </td>
                            <td style="vertical-align:middle">
                                [#if SERVICES!=""#] [#SERVICES#] [#else#] &nbsp; [#endif#]
                            </td>
                            <td style="vertical-align:middle" width="1%" nowrap>
                                <div style="width:120px">
                                    <div class="btn-group">[#if ID=""#]
                                       
                                        <a href="?data_source=<#DATA_SOURCE#>&mode=add&view_mode=edit_ssdp_devices&title=[#TITLE#]&type=[#TYPE#]&uuid=[#UUID#]&services=[#SERVICES#]"
                                            class="btn btn-success" title="Add">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                        [#else#]
                                        <a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_ssdp_devices&id=[#ID#]" class="btn btn-info" title="Edit">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a>
                                        [#endif#]
                                        <a href="" data-toggle="modal" data-target="#myModal" class="btn btn-default" title="Device Info">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"> [#TITLE#]</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Some text in the modal.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        [#end RESULT#]
                    </tbody>
                </table>
                <input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
                <input type="hidden" name="view_mode" value="multiple_ssdp_devices">
            </form>

            <!-- / search results (list) -->
            <!-- paging -->
            [#if PAGES#]
            <table border=0>
                <td align=right>
                    <b>Pages:</b>&nbsp;</td>
                [#begin PREVPAGE#]
                <td>
                    <a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a>
                </td>[#end PREVPAGE#]
                <td>
                    [#begin PAGES#] [#if !SELECTED#]
                    <a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]
                        <b>[#endif#][#NUM#]</b>
                    </a> [#end PAGES#]
                </td>
                [#begin NEXTPAGE#]
                <td>
                    <a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a>
                </td>[#end NEXTPAGE#]
            </table>
            [#endif PAGES#]
            <!-- / paging -->
            [#else RESULT#]
            <p>
                <font color="red">
                    <#LANG_NO_RECORDS_FOUND#>
                </font>
            </p>
            [#endif RESULT#]
            <!-- / results -->
        </td>
    </tr>
</table>
[#endif VIEW_MODE#]