<!-- Table 'ssdp_devices' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
    [#if OK#]
    <div class="alert alert-success">
        <#LANG_DATA_SAVED#>
    </div>
    [#endif OK#] [#if ERR#]
    <div class="alert alert-error">
        <#LANG_FILLOUT_REQURED#>
    </div>
    [#endif ERR#]
    <fieldset>[#if ID=""#]
        <legend>
            <#LANG_NEW_RECORD#>
        </legend>
        [#endif ID#]
        <div class="form-group">
            <label class="col-lg-3 control-label" [#if ERR_TITLE#] style="color:red;font-weight:bold" [#endif#]>
                Название:
            </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="title" value="[#TITLE#]" id="title">
            </div>
        </div>
        <!-- TYPE (varchar) -->
        <div class="form-group">
            <label class="col-lg-3 control-label" [#if ERR_TYPE#] style="color:red;font-weight:bold" [#endif#]>
                Тип:
            </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="type" value="[#TYPE#]" id="type">
            </div>
        </div>
        <!-- UUID (varchar) -->
        <div class="form-group">
            <label class="col-lg-3 control-label" [#if ERR_UUID#] style="color:red;font-weight:bold" [#endif#]>
                UUID:
            </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="uuid" value="[#UUID#]" id="uuid">
            </div>
        </div>
        <!-- services (varchar) -->
        <div class="form-group">
            <label class="col-lg-3 control-label" [#if ERR_SERVICES#] style="color:red;font-weight:bold" [#endif#]>
                Типы Сервисов:
            </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="services" value="[#SERVICES#]" id="services">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label" [#if ERR_ADDRESS#] style="color:red;font-weight:bold" [#endif#]>
                IP адрес:
            </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="address" value="[#ADDRESS#]" id="address">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label" [#if ERR_DESCRIPTION#] style="color:red;font-weight:bold" [#endif#]>
                Описание:
            </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="description" value="[#DESCRIPTION#]" id="description">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label" [#if ERR_LOGO#] style="color:red;font-weight:bold" [#endif#]>
                LOGO:
            </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="logo" value="[#LOGO#]" id="logo">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label" [#if ERR_MODEL#] style="color:red;font-weight:bold" [#endif#]>
                Модель:
            </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="model" value="[#MODEL#]" id="model">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label" [#if ERR_MANUFACTURER#] style="color:red;font-weight:bold" [#endif#]>
                Производитель:
            </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="manufacturer" value="[#MANUFACTURER#]" id="manufacturer">
            </div>
        </div>
        <div class="form-group ">
            <label class="col-lg-4 control-label"><#LANG_LOCATION#>:</label>
            <div class="col-lg-4"><select name="location" class="form-control">
             <option value="">-
             [#begin LOCATIONS#]<option value="[#ID#]"[#if ID="<#LOCATION#>"#] selected[#endif#]>[#TITLE#]
             [#end LOCATIONS#]
            </select></div>
           </div>
        <!-- LINKED_OBJECT (varchar) -->
        <div class="form-group">
            <label class="col-lg-3 control-label" [#if ERR_LINKED_OBJECT#] style="color:red;font-weight:bold" [#endif#]>
                <#LANG_LINKED_OBJECT#>:
            </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="linked_object" value="[#LINKED_OBJECT#]" id="linked_object">
            </div>
        </div>
        <!-- CONTROL ADDRESS (varchar) -->
        <div class="form-group">
            <label class="col-lg-3 control-label" [#if ERR_CONTROLADDRESS#] style="color:red;font-weight:bold" [#endif#]>
                XML path:
            </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="controladdress" value="[#CONTROLADDRESS#]" id="controladdress">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">
                Создать простое устройство
   
                Создать устройство онлайн

                Создать терминал устройства

                Создать шаблон управления

                Использовать для воспроизведения системных сообщений
            </label>
            <div class="controls">
                <input type="checkbox" name="create_sd" checked>
            </div>
            <div class="controls">
                <input type="checkbox" name="create_od" checked>
            </div>
            <div class="controls">
                <input type="checkbox" name="create_term" checked>
            </div>
            <div class="controls">
                <input type="checkbox" name="create_templ" checked>
            </div>
            <div class="controls">
                <input type="checkbox" name="use_to_say" checked>
            </div>
        </div>
        [#module name="linkedobject" object_field="linked_object" property_field="linked_property" method_field="linked_method"#]
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-4">
                [#if ID!=""#]
                <button type="submit" name="subm" value="Submit" class="btn btn-primary">
                    <#LANG_SUBMIT#>
                </button> [#else ID#]
                <button type="submit" name="subm" value="Add" class="btn btn-primary">
                    <#LANG_ADD#>
                </button> [#endif ID#]
                <a href="?" class="btn btn-default ">
                    <#LANG_CANCEL#>
                </a>
                <input type="hidden" name="id" value="<#ID#>">
                <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
                <input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
                <input type="hidden" name="mode" value="update">
                <input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
                <input type="hidden" name="tab" value="<#TAB#>">
            </div>
        </div>
    </fieldset>
</form>
