<!--- название обьекта --->
 <p style="width:300px; text-align:center; font-family: monospace; "><img src="%.Logo%" alt="Логотип устройства" style="width:36px; align:center; font-family: monospace; "></img> - %.object_description%</p>
<!--- локальный АЙПИ адрес--->
 <p style="width:300px; text-align:center; font-family: monospace; "><a href="%.ADDRESS%" target="_blank">Локальный адрес устройства-%.ADDRESS%</a></p>
